@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scroll bar for IE, Edge, and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}