* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #000;
  color: whitesmoke;
  padding: 1rem;
}

button{
  padding: .5rem 1rem;
  background: rgb(255, 146, 146);
  font-size: medium;
  border: none;
  border-radius: 5px;
  margin: 1rem;
}