* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  color: aliceblue;
  padding: 2rem;
}

h1{
  font-size: 3rem;
}
p{
  font-size: 1.1rem;
  text-align: center;
}

.parent{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  border:2px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 10px;
  background:#222;

}

.card img{
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}