* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  color: whitesmoke;
  padding: 1rem;
}

div{
  margin: auto;
  padding: 2rem;
  border-radius: 30px;
  background: gray;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
form{

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

input{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
}

button{
  font-size: 1rem;
  padding: .5rem 1.5rem;
  background: greenyellow;
  border: none;
  border-radius: 10px;
}