* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  color: whitesmoke;
  padding: 2rem;
}

h1{
  font-size: 3rem;
  padding: 20px;
  text-align: center;
}
p{
  font-size: 1.1rem;
  text-align: center;
  padding: 2rem;
}
.card{
  background: yellowgreen;
  color: #000;
  width: 400px;
  margin: auto;
}

.navbar{
  background: goldenrod;
  margin: 1rem;
}
ul{
  list-style-type: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
li{
  padding: 2rem;
  font-size: 1.1rem;
}
