* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  color: whitesmoke;
  padding: 1rem;
  font-size: 1.5rem;
}

button{
  padding: .5rem 1rem;
  font-size: 1.1rem;
}