ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: gray;
    padding: 2rem;
}
li{
    font-size: 2rem;
    background: #000;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
}

button{
    background: goldenrod;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
}